@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --e-global-dark-gray-shade: 34, 34, 34;
    --e-global-medium-light-gray: 107, 113, 119;
    --e-global-green-shade: 93, 187, 125;
    --e-global-white-color-shade: 255, 255, 255;
    --e-global-off-white-shade: 240, 239, 236;
    --e-global-cool-gray-shade: 233, 233, 233;
    --e-global-peach-shade: 255, 237, 232;
    --e-global-red-crimson-shade: 247, 84, 84;
    --e-global-primary-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
  }
  .theme-dark {
    --e-global-dark-gray-shade: #222222;
    --e-global-green-shade: #5dbb7d;
    --e-global-white-color-shade: #ffffff;
    --e-global-off-white-shade: #f0efec;
    --e-global-cool-gray-shade: #e9e9e9;
    --e-global-medium-light-gray: #6b7177;
    --e-global-peach-shade: #ffede8;
    --e-global-red-crimson-shade: #f75454;
    --e-global-primary-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
  }
}

* {
  word-break: break-all;
}
